# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
*.env

# Django database
*.sqlite3
db.sqlite3

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Migrations 
*/migrations/__pycache__/
*/migrations/*.pyc
